{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h2 class="page-title">
            Gestión de Docentes
        </h2>

        <p class="text-muted">
            Administración pedagógica institucional.
        </p>

    </div>

    <a href="{{ url_for('docentes.crear') }}"
       class="btn btn-primary">

        Nuevo Docente

    </a>

</div>


<div class="card shadow-sm border-0">

    <div class="card-body">

        <table class="table table-hover align-middle">

            <thead>

                <tr>

                    <th>Código</th>

                    <th>Docente</th>

                    <th>Especialidad</th>

                    <th>Estado</th>

                    <th>Acciones</th>

                </tr>

            </thead>

            <tbody>

            {% for docente in docentes %}

                <tr>

                    <td>
                        {{ docente.codigo }}
                    </td>

                    <td>
                        {{ docente.nombre_completo() }}
                    </td>

                    <td>
                        {{ docente.especialidad }}
                    </td>

                    <td>

                        {% if docente.estado %}

                            <span class="badge bg-success">

                                Activo

                            </span>

                        {% else %}

                            <span class="badge bg-danger">

                                Inactivo

                            </span>

                        {% endif %}

                    </td>


                    <td>

                        <a href="{{ url_for('docentes.detalle', id=docente.id) }}"
                           class="btn btn-info btn-sm">

                            Ver

                        </a>

                        <a href="{{ url_for('docentes.editar', id=docente.id) }}"
                           class="btn btn-warning btn-sm">

                            Editar

                        </a>

                        <form
                            action="{{ url_for('docentes.eliminar', id=docente.id) }}"
                            method="POST"
                            class="d-inline">

                            <button class="btn btn-danger btn-sm">

                                Eliminar

                            </button>

                        </form>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}